.content{
    width:60%;
    min-height:300px;
    background-color: white;
    padding-bottom: 30px;
    object-fit: contain;
    box-sizing: border-box;
}

@media only screen and (max-width:700px){
    .content{
        width:100%;
        min-height:300px;
        background-color: white;
        padding-bottom: 30px;
        object-fit: contain;
        box-sizing: border-box;
    }
}