
.first_page{
 

  min-height:500px;
  width:80%;
  margin-top: 15vh;
  margin-left: 10%;
  position: relative;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
  padding-top: 1px;
}

.or{
  display: flex;
  color: rgba(0,0,0,0.3);
  font-size: 10px;
  font-family: 'Open Sans Condensed', sans-serif;

}

.or_1{
  margin-top: -2px;
}
.line{

  width: 48%;
  height: 1px;
  border:none;
  border-top: 1px solid rgba(0,0,0,0.2);
}

@media only screen and (max-width:600px){
  .first_page{


    min-height:500px;
    width:80%;
    margin-top: 13vh;
    margin-left: 10%;
    position: relative;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
    padding-top: 1px;
  }
}



@media only screen and (max-width:450px){

  .first_page{
 
    min-height: 100vh;
    color: white;
    width:98%;
    margin-top: 0vh;
    box-sizing: border-box;
    margin-left: -1px;
    position: relative;
    background-color: white;
    box-shadow: none;
    background-image: url("https://images.unsplash.com/photo-1572061487787-3cd4292f12bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80");

  }

  .line{

    width: 48%;
    height: 1px;
    border:none;
    border-top: 1px solid rgba(255,255,255,0.8);
  }
  .or_1{
    margin-top: -2px;
    color: rgba(255,255,255,0.8);

  }
  
  

}